/.env
/.env.*
!/.env.example
/.phpunit.result.cache
/.idea/
/.vscode/
/.history/

/vendor/
/node_modules/
/npm-debug.log
/yarn-error.log
/pnpm-debug.log

/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore

/storage/*.key
/storage/logs/*.log
/storage/debugbar/*
!/storage/debugbar/.gitignore
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
!/storage/framework/.gitignore
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/testing/.gitignore
!/storage/framework/views/.gitignore

/storage/app/addons/
/storage/app/updates/

/public/hot
/public/storage
/public/build

/yalumni-v0.rar